/*
Pink #EE3A8C
*/

body {
	background: #000;
    margin: 0; padding: 0;
    font-family: arial, helvetica, sans-serif;
    line-height: 22px;
}

h1 {
    font-size: 1.25em;
    margin-bottom: 0;
    padding-bottom: 10px;
}

h2 {
    font-size: 1.25em;
    font-weight: normal;
    margin-bottom: 0;
    padding-bottom: 10px;
}

p {
    margin-top: 0;
    font-size: 14px;

}

ul {
	position: fixed;
	right: 20px;
    top: 20px;
}

ul li{
	list-style: none;
	margin: 10px;
}

ul li img {
	width: 20px;
	height: 20px;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.panel { overflow: hidden;}

#intro {
	background:  url('../img/005.jpg') 65% 0 no-repeat fixed;
    color: white;
    height: 850px;
    margin: 0;
}

#intro .logo {
	background: url('../img/f3logo.png') 5% 100% no-repeat fixed;
	width: 350px;
	height: 1000px;
	z-index: 200;
 
}

.about {
    background: #EE3A8C;
	margin: 0 65px;
    padding: 100px 40px;
    width: 300px;
    height: 650px;
}

.story {
	margin: 0 auto;
	max-width: 1650px;
	width: 100%;
}

#second {
	background: url('../img/035.jpg') 50% 0 no-repeat fixed;
	color: white;
	height: 850px;
	margin: 0;
}

#second .gallery {
	background: rgba(238, 58, 140, 0.7);
    width: 89.75%;
    margin: 100px auto;
    text-align: center;
    overflow: auto;
}

.gallery h1 {
	margin-top: 20px;
}

.gallery h2 {
	line-height: 0;
}

.row {
	width: 100%;
	padding: 20px 0 20px 0;
	clear: both;
}

.row .col {
	width: 16.66%;
	float: left;
}

.gallery img {
    margin: auto;
}

#third {
	background: url('../img/114.jpg') 75% 0 no-repeat fixed;
	color: white;
	height: 850px;
	margin: 0;
}

.contact {
	background: #EE3A8C;
	margin: 240px 50px;
	padding: 20px 40px;
	width: 320px;
}